main section.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

main section.header h1 {
    font-size: 36px;
    /* font-weight: 100; */
    text-transform: capitalize;
    margin-bottom: 20px;
}

main section.header h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 20px;
}
main section .btn{
    font-size: 12px;
}
